[submodule "themes/hugo-orbit-theme"]
	path = themes/hugo-orbit-theme
	url = https://github.com/aerohub/hugo-orbit-theme
[submodule "public"]
	path = public
	url = git@github.com:donadef/donadef.github.io.git
