            <section class="skills-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.skills.icon }}"></i>{{ i18n "skills" }}</h2>
                <div class="skillset">
                {{ range .Site.Params.skills.list }}
                    <div class="item">
                    {{ if .section }}
                        <div class="skills-group"><h3>{{ .section }}</h3></div>
                    {{ else }}
                        <h3 class="level-title">{{ .skill }}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ .level }}">
                            </div>
                        </div><!--//level-bar-->
                    {{ end }}
                    </div><!--//item-->
                {{ end }}
                </div>
            </section><!--//skills-section-->
